!!!
html(ng-app="jsoa")
  head
    title
      | #{blog.name}
      block extra-title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    //if IE 7
      link(rel='stylesheet', href='/css/font-awesome-ie7.min.css')
    link(rel='stylesheet', href='/css/style.css')
    block extra-css
    script(src='/js/showdown.js')
    script(src='/js/extensions/github.js')
    script(src='/js/extensions/twitter.js')
    script(src='/js/angular.min.js')
    script(src='/js/angular-sanitize.min.js')
    script(src='/js/angular.markdown.js')

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    block extra-js
    block extra-head
  body
    header
      .container
        .page-header
          .row
            .span6
              .brand
                a(href='/') #{blog.name}
            .span6
              ul.nav.nav-pills.pull-right
                if (typeof(github) !== 'undefined')
                  li
                    a(href='//github.com/#{github.account}', target='_new')
                      i.icon-github-alt
                if (typeof(google_plus) !== 'undefined')
                  li
                    a(href='//plus.google.com/#{google_plus.account}', target='_new')
                      i.icon-google-plus-sign
                if (typeof(twitter) !== 'undefined')
                  li
                    a(href='//twitter.com/#{twitter.account}', target='_new')
                      i.icon-twitter
                if (typeof(linkedin) !== 'undefined')
                  li
                    a(href='//www.linkedin.com/#{linkedin.path}', _target='_new')
                      i.icon-linkedin-sign
                if (typeof(about) !== 'undefined')
                  li
                    a(href='/about')
                      i.icon-sign-blank


    article.container
      block content
      .a(ng-pagination)

    footer
      .container
        .navbar.navbar-fixed-bottom.navbar-inverse
          .navbar-inner
            .container
              a.brand(href='/')
                | &copy; 2013 #{blog.name}
              ul.nav.pull-right
                if (typeof(github) !== 'undefined')
                  li
                    a(href='//github.com/#{github.account}') Github
                if (typeof(google_plus) !== 'undefined')
                  li
                    a(href='//plus.google.com/#{google_plus.account}') Google+
                if (typeof(twitter) !== 'undefined')
                  li
                    a(href='//twitter.com/#{twitter.account}') Twitter
                if (typeof(linkedin) !== 'undefined')
                  li
                    a(href='//www.linkedin.com/#{linkedin.path}') LinkedIn
                if (typeof(about) !== 'undefined')
                  li
                    a(href='/about') About


    script.

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '#{analytics.tracking_id}', '#{analytics.domain}');
      ga('send', 'pageview');
